@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700|Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i');
@import "flickity.css";

*,
*:before,
*:after {
  box-sizing: border-box;
  /*font-family: 'Source Sans Pro', sans-serif;*/
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

body {
  margin: 0;
}

.ba-container {
  background: url("../assets/bckground-header.jpg") 100% no-repeat;
  background-size: cover;
  display: block;
  min-width: 500px;
  height: 737px;
  margin: 0;
  color: #fffefe;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  &__logo {
    display: block;
    float: left;
    margin: 50px 0 0 215px;
  }
  &__title {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 35px;
    font-weight: 300;
    line-height: 70px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    padding-top: 290px;
    padding-left: 35px;
    margin: 0 auto;
  }
  &__under-title {
    color: #ffffff;
    line-height: 28px;
    display: block;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    white-space: pre;
    margin-bottom: 160px;
  }
}

.navigation-menu {
  margin-right: 99px;
  margin-top: 35px;
  float: right;
  display: block;
  height: 50px;
  &__item {
    padding: 10px;
    display: inline-block;
  }
  &__link {
    text-decoration: none;
    color: #fffefe;
    text-align: center;
    position: relative;
    display: block;
    width: 85px;
    height: 30px;
    border: 2px solid transparent;
    padding-top: 4px;
    &:hover {
      color: #11BE9B;
      transition: 1.1s;
      transform: scale(1.1);
      border: 2px solid white;
      border-radius: 16px;

    }
  }
}

#anchor-to-portfolio {
  display: block;
  border: 2px solid white;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  opacity: 0.2;
  margin: 0 auto;
  &:hover {
    display: block;
    transition: 1.2s;
    opacity: 0.8;
    background-color: #11BE9B;
  }
}

.anchor-string {
  display: block;
  text-align: center;
  position: absolute;
}

/*-------------MASONRY, ISOTOPE---------*/
.isotope-container {
  height: 1406px;
  background-color: #F3F3F3;
  display: block;
}

.filter {
  max-width: 550px;
  margin: 0 auto;
  padding: 10px 0 50px;
}

.filter-button {
  border: 2px solid #11BE9B;
  color: white;
  background-color: rgba(55, 55, 82, 0.31);
  border-radius: 2px;
  text-decoration: none;
  padding: 5px 10px;
  margin-left: 25px;
  display: inline-block;
}

.filter-button:hover {
  transition: 0.8s;
  background-color: rgba(53, 37, 26, 0.85);
  transform: scale(1.1);
}

.grid {
  display: block;
  margin: 0 auto;
  max-width: 1110px;
}

.sizer {
  width: 25%;
}

.grid-item {
  width: 270px;
  padding-bottom: 6px;
}

/*_______main-used banner*/
.banner {
  height: 225px;
  margin-top: -17px;
  text-align: center;
  &__title {
    color: #333b46;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 40px;
    text-transform: uppercase;
    padding-top: 70px;
    display: block;
  }
  &__description {
    color: #81868e;
    font-size: 14px;
    line-height: 25px;

  }
}

/*-------SLIDER-------*/
.the-team {
  display: block;
  width: 1050px;
  height: 400px;
  margin: 0 auto;
  &__gallery-cell {
    width: 1030px;
    height: 370px;
  }
  &__man {
    position: absolute;
    margin-left: 70px;
  }
  &__text-in-team-slider {
    text-align: right;
    color: #81868e;
    display: block;
    float: right;
    width: 400px;
    height: 370px;
    padding-right: 45px;
  }
  &__who-is-it {
    border-right: 4px solid #19bd9a;
    padding-right: 43px;
    margin-top: 40px;
    h3 {
      color: #464646;
      font-size: 15px;
      line-height: 16px;
    }
    h5 {
      color: #81868e;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 12px;
      font-weight: 300;
      font-style: italic;
      line-height: 12px;
      text-transform: uppercase;
    }
  }
  p {
    color: #81868e;
    font-size: 14px;
    line-height: 25px;
  }
  &__slider-pic {
    width: 750px;
    height: 330px;
    display: block;
    margin: 0 auto;
  }
}

/*-------CONTACT--------*/
.contact {
  background: url("../assets/contactus.png") 100%, no-repeat;
  color: white;
  text-align: center;
  margin-top: 100px;
  height: 201px;
  &__item {
    padding: 42px 0 29px;
  }
  &__link {
    text-decoration: none;
    color: white;
    text-align: center;
    position: relative;
    width: 85px;
    height: 30px;
    border: 2px solid transparent;
    padding-top: 4px;
    &:hover {
      color: white;
      transition: 1.1s;
      transform: scale(1.1);
      border: 2px solid white;
      border-radius: 16px;
      padding: 5px;
    }
  }
}

/*----------Testimonials---------*/
.testimonials {
  display: block;
  width: 100%;
  height: 650px;
  background-color: #F3F3F3;
}

/*-----------2nd SLIDER------*/
.karusel {
  display: block;
  margin: 0 auto;
  max-width: 1170px;
  background-color: white;
  &__karusel-cell {
    display: block;
    height: 280px;
    width: 100%;
    margin: 0 auto;
    background-color: white;
  }
  &__feedback {
    display: block;
    margin: 0 auto;
  }
  &__ramanujan {
    float: left;
    margin-left: 170px;
    margin-top: 52px;

  }
  &__inner-text {
    width: 760px;
    height: 80px;
    float: right;
    margin-right: 30px;
    p {
      width: 700px;
      height: 73px;
      color: #81868e;
      line-height: 18px;
      margin-top: 55px;
    }
    h3 {
      width: 67px;
      height: 22px;
      color: #19bd9a;
      font-weight: 700;
      line-height: 20px;
      text-transform: uppercase;
    }
    h4 {
      width: 187px;
      height: 11px;
      color: #464646;
      line-height: 20px;
      text-transform: uppercase;
    }
  }
}

/*-----------MAP-------------*/
.google-map {
  height: 400px;
  margin: 0 auto;
}

/*-------------FOOTER-------------*/
.social-container {
  height: 250px;
  &__bouncy {
    margin: 0 auto;
    display: block;
    padding-top: 70px;
  }
  &__copyright {
    color: #81868e;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
  }
}

.social-links {
  display: block;
  width: 400px;
  height: 50px;
  margin: 0 auto;
  padding-left: 40px;
  &__item {
    display: inline-block;
    margin-left: 25px;
  }
  &__icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    &:hover {
      transform: scale(1.3);
      transition: 0.8s;
    }
  }
}
